body {
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.fb {
    text-align: center;
    font-family: comic sans ms;
    color: darkblue;
    font-size: 60px;
}
.ig1 {
    color: white;
}
.h4 {
    text-align: right;
    font-style: oblique;
}

.p1 {
    color: orange;
    text-align: center;
}

.mark:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}
.ig1:hover {
    color: red;
    cursor: pointer;
    text-decoration: noness;
}